.bar{
    height:0.65vh;
    width: 40%;
    border-radius: 1vh;
    background-color: var(--color-accent);
    margin: 0 auto 2.6vh;
}

@media screen and (max-height: 768px) and (max-width: 442px){
    .bar{
        display: none;
    }
}

