.toggle-button{
    background-color: var(--color-basic);
    border-radius: 1.8vh;
    width:31%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh auto 0;
}

@media screen and (max-height: 768px) and (max-width: 442px){
    .toggle-button{
        margin: 0px auto;
        border-radius: 0px 0px 2.4vh 2.4vh;
    }
}

.toggle-button .toggle-button-half{
    width:43%;
    height:100%;
    padding: 1.6vh 0.4vh 1.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4vh;
    line-height: 1;
    color: var(--color-accent);
    border:0;
    background-color: transparent;
}

.toggle-button .toggle-button-half:hover{
    cursor: pointer;
}

@media screen and (max-width: 442px){
    .toggle-button .toggle-button-half{
        padding: 2.8vh 0.4vh;
        font-size: 3.2vh;
    }
}

.toggle-button .toggle-button-half--active{
    color: var(--color-font);
}