.screen{
    padding: 0px 22px 22px;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    letter-spacing: 2px;
}

.screen i{
    font-size: 50%;
    margin: 3px 3px 0 3px
}

h1, h3{
    color: var(--color-font);
    margin:0;
}

h1{
    font-size: 42px;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 4.8vh;
}

h3{
    font-weight: normal;
    margin-bottom: 8px;
    font-size: 2.2vh;
}

@media screen and (max-width: 442px){
    h1{
        font-size: 6.6vh;
    }

    h3{
        font-size: 3vh;
    }
}