.screen{
    padding: 0px 3vh 3.4vh;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

@media screen and (max-height: 768px) and (max-width: 442px){
    .screen{
        padding: 0px 4.2vh 4.6vh;
    }
}

h1, h3{
    color: var(--color-font);
    margin:0;
    display: inline-flex;
    align-items: center;
}

h1{
    font-weight: 600;
    font-size: 5vh;
    letter-spacing: 0.28vh;
}

h3{
    font-weight: 400;
    margin-bottom: 1.1vh;
    font-size: 2.4vh;
    letter-spacing: 0.18vh;
}

.screen i{
    font-size: 46%;
    -webkit-text-stroke: 0.1vh var(--color-neutral);
}

.screen h1 i{
    margin: 0.76vh 0.45vh 0;
}

.screen h3 i{
    margin: 0.14vh 0.30vh 0;
}

@media screen and (max-width: 442px){
    h1{
        font-size: 6.6vh;
    }

    h3{
        font-size: 3vh;
    }
}